.main{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  &__sab{
    
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.title-welcome{
  border: black solid 5px;
  background-color: white;
  margin: 10px 0;
  height: 5vh;
  font-size: 25px;
  display: flex;
  align-items: center;
}

.comment{
  border: black solid 5px;
  height: 90vh;
  width: 90vw;
  background-color: white;
  overflow: scroll;
}

.content{
  
  margin: 2px;
  background-color: white;

} 
.content-profile{
  display: flex;
  align-items: center;
  &__icon{
    width: 50px;
    height: 50px;
    margin: 3px;
    border: solid lightgray 2px;
  }
  &__name{
    margin: 5px;
  }
  &__data{
    font-size: 8px;
    margin: 5px;
  }
}

img{
  max-width: 100%;
  height: 50px;
}

.post-form{
  background-color: white;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
}

.post-send{
  width: 100%;
  display: flex;
  justify-content: center;
  border: black solid 5px;
}