// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.mypage{
  display: block;

}

.mypage-title{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
  font-size: 29px;
}

.profile{
  width: 40vw;
  height: 40vh;
  &__content{
    margin-top: 15px;
    word-break: break-all;
    width: 100%;
  }
  &__content-carrer{
    margin-top: 15px;
    word-break: break-all;
    width: 100%;
    height: 16.3vh;
    overflow: scroll;
  }
  &__title{
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
}

.mypage-main{
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile_edit{
  width: 100%;
  display: flex;
  justify-content: center;
  &__main{
    background-color: white;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}